{
  "target_configuration": {
    "touchgfx_path": "../Middlewares/ST/touchgfx",
    "family": "STM32F4",
    "sub_family": "STM32F401",
    "toolchain": "STM32CubeIDE",
    "platform": "m4",
    "project_file": "../prueba.ioc",
    "optional_components_root": "../Middlewares/ST/touchgfx_components",
    "optional_components": [],
    "additional_features": []
  }
}